<div class="workout-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">投稿詳細ページ</h1>
        <div class="workout-index">
          <!--投稿者のアイコンを表示-->
          <div class="workout-user-space">
            <div class="workout-user-icon">
              <%= image_tag @workout.user.image_icon.url %>
              <!-- 投稿者の名前を表示 -->
            </div>
            <div class="workout-author">
              <%= @workout.user.name %>
            </div>
          </div>
          <!-- 投稿の内容を表示 -->
          <p class="workout-text">
            <%= @workout.description %>
          </p>
          <div class="workout-index-icon">
            <!-- いいねボタンを表示 -->
            <% if !@workout.like_users.include?(current_user) %>
              <%= link_to likes_path(workout_id: @workout.id), method: :post do %>
                <i class="far fa-heart like-btn" ></i>
              <% end %>
            <% else %>
              <%= link_to likes_path(workout_id: @workout.id), method: :delete do %>
                <i class="fas fa-heart unlike-btn"></i>
              <% end %>
            <% end %>
            <!-- いいね数を表示 -->
            <%= @workout.like_users.count %>
            <!-- コメントマークを表示 -->
            <%= link_to comments_new_path(workout_id: @workout.id), method: :get do %>
              <i class="far fa-comment"></i>
            <% end %>
          </div>
          <!-- 投稿された時間を表示 -->
          <div class="workout-time">
            <%= @workout.created_at %>
          </div>
          <!-- 削除ボタンを表示 -->
          <div class="delete-btn">
            <% if current_user.id == @workout.user_id %>
              <%= link_to workout_path(id: @workout.id), method: :delete do %>
                <div class="destroy-btn"><i class="fas fa-trash-alt"></i>投稿を削除</div>
              <% end %>
            <% end %>
          </div>
          <div class="comment-index">
            <p>みんなのコメント</p>
            <!-- コメント内容を表示 -->
            <div class="comment-single">
              <% @workout.comments.each do |comment| %>
                <p><%= comment.content %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>