<div class="menu-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center"><%= @user.name %>さんのトレーニングメニュー</h1>
        <%# if @user.menus.any? %>
        <div class="add-training">
          <%= link_to new_menu_path do %>
            トレーニングメニュー追加
          <% end %>
        </div>
          <!-- トレーニングメニューを表示 -->
        <% @menus.each do |menu| %>
          <div class="menu-index">
            <!-- 部位 -->
            <p class="training-name">
              <%= menu.part %>
            </p>
            <!-- 名称 -->
            <p class="training_name">
              <%= menu.training_name %>
            </p>
            <!-- 重量 -->
            <p class="weight">
              <%= menu.weight %>
            </p>
            <!-- 回数 -->
            <p class="rep">
              <%= menu.rep %>
            </p>
            <!-- 回数 -->
            <p class="rep">
              <%= menu.rep %>
            </p>
            <!-- セット数 -->
            <p class="set">
              <%= menu.set %>
            </p>
            <!-- コメント -->
            <p class="comment">
              <%= menu.comment %>
            </p>
            <!--メニューを削除する-->
            <%= link_to menu_path(id: @menu.id), method: :delete do %>
              <div class="destroy-btn"><i class="fas fa-trash-alt"></i>メニューを削除</div>
            <% end %>
          </div>
        <% end %> 
        <%# end %>
      </div>
    </div>
  </div>
</div>