<div class="user-top-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div>
          <%= image_tag @user.image_icon.url, class:"user-icon" %>
        </div>
        <div class="user-name">
          <%= @user.name %>
        </div>
        <!-- ログインしているユーザー以外は編集とログアウトが操作できない -->
        <% if current_user.id == @user.id %>
          <%= link_to edit_user_path(current_user) do %>
            <div class="btn btn-primary edit-btn">プロフィール編集</div>
          <% end %>
          <%= link_to logout_path, method: :delete do %>
            <div class="btn btn-danger edit-btn">ログアウト</div>
          <% end %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "ユーザーを削除", user_path, method: :delete,
                          data: { confirm: "このユーザーを削除してよろしいですか?" } %>
        <% end %>
        <!--フォローフォロワーの数を表示-->
    　　<section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <div>
          <%= render 'follow_form' if logged_in? %>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <div class="user-status text-center">
          <ul>
            <li>
              <div class="status-label">-------身長-------</div>
              <div class="status-value"><%= user.height %></div>
            </li>
            <li>
              <div class="status-label">-------体重-------</div>
              <div class="status-value"><%= user.weight %></div>
            </li>
            <li>
              <div class="status-label">-----自己紹介-----</div>
              <div class="status-value"><%= user.comment %></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ユーザーのトレーニングデータ-->
<div class="user-data-wrapper">
  <div class="data-menu">
    トレーニングメニュー
  </div>
  <div class="sub-menu">
    <%= link_to menus_path(user_id: @user.id) do %> 
      <%= image_tag 'icons/f_dumbbell.jpg' %>
    <% end %>
  </div>
</div>

<div class="user-workout-wrapper">
  <div class="container">
    <div class="user-name"><%= @user.name %>さんの投稿一覧</div>
    <% if @user.workouts.any? %>
      <div class="row">
        <div class="col-md-12">
          <p class="workout-index">
            <%= render "workouts/workout" %>
          </p>
        </div>
      </div>
    <% else %>
      <p class="not-workout">まだ投稿がありません</p>
    <% end %>
  </div>
</div>