<!-- タイトル -->
<div class="top-wrapper text-center">
  <div class="container top-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="title">
          <h1 class="text-shadow">MuscleStone</h1>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="text-shadow sub-title">常に高みを目指す貴方へ向けた筋トレ管理アプリです。</p>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "アカウント登録", '/users/new',  class: 'btn btn-block btn-white' %>
        <%= link_to "ログイン", 'sessions/new',      class: 'btn btn-block btn-white' %>
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.hidden_field :email, value: 'kawauso@aaa.com' %>
          <%= f.hidden_field :password, value: 'kawauso12' %>
          <%= f.submit 'テストユーザーとしてログイン', class: 'btn btn-block btn-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- サービス紹介 -->
<div class="service-introduction">
	<div class="service-title text-center">
		<h1 class="title">MuscleStoneとは</h1>
	</div>
  <div class="service-all-item">
    <div class="item">
  		<div class="fas fa-comments"></div>
  		<p class="explanation">①トレーニング内容を共有できるSNSサービス</p>
  		<%= image_tag('icons/f_wine.png') %>
  	</div>
    <div class="item">
  		<div class="fas fa-dumbbell"></div>
  		<p class="explanation">②自分専用のセットメニューを作成できる</p>
  		<%= image_tag('icons/f_wine.png') %>
  	</div>
  	<div class="item">
  		<div class="fas fa-chart-line"></div>
  		<p class="explanation">③体重の変化をグラフで管理&確認ができる</p>
  		<%= image_tag('icons/f_wine.png') %>
  	</div>
  </div>
	<div class="text-center">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.hidden_field :email, value: 'kawauso@aaa.com' %>
      <%= f.hidden_field :password, value: 'kawauso12' %>
      <%= f.submit 'テストユーザーとしてログイン', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>